@import "tailwindcss";

:root {
  --global-background-color: rgb(255, 255, 255);
  --global-text-color: rgb(0, 0, 0);
  --theme-selector-border-color: rgb(235, 235, 235);
  --theme-selector-svg-color: rgb(102, 102, 102);
  --theme-selected-background-color: rgb(230, 230, 230);
  --current-theme-color: #171717;
}

html, .dark {
  --global-background-color: rgb(0, 0, 0);
  --global-text-color: rgb(255, 255, 255);
  --theme-selector-border-color: #2e2e2e;
  --theme-selector-svg-color: rgb(161, 161, 161);
  --theme-selected-background-color: rgb(41, 41, 41);
  --current-theme-color: #ededed;
}

@theme {
  --color-theme-selector-border: var(--theme-selector-border-color);
  --color-theme-selector-svg: var(--theme-selector-svg-color);
  --color-theme-selected-background: var(--theme-selected-background-color);
  --color-selected-theme: var(--current-theme-color);
}

body {
  background-color: var(--global-background-color);
  color: var(--global-text-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
